<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>restoreDBServlet</servlet-name>
        <servlet-class>ctrls.restoreDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>restoreDBServlet</servlet-name>
        <url-pattern>/restore</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>showMainPageServlet</servlet-name>
        <servlet-class>ctrls.showMainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showMainPageServlet</servlet-name>
        <url-pattern>/showmainpage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addAircraftServlet</servlet-name>
        <servlet-class>ctrls.addAircraftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAircraftServlet</servlet-name>
        <url-pattern>/addaircraft</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCompanyServlet</servlet-name>
        <servlet-class>ctrls.addCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCompanyServlet</servlet-name>
        <url-pattern>/addcompany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addOwnershipServlet</servlet-name>
        <servlet-class>ctrls.addOwnershipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addOwnershipServlet</servlet-name>
        <url-pattern>/addownership</url-pattern>
    </servlet-mapping>




</web-app>